.jsDropDownMain{
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    background-color: black;
    border: none;
}

.jsDropDownSub{
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.subCard{
    border: none;
    border-left: 2px solid black;
}
.card {
    border: none;
}

.subHeader{
    background-color: antiquewhite;
    transition: background-color 0.5s ease;
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.subHeader:hover{
    cursor: pointer;
    background-color: grey;
}

.subText{
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 2px solid black;
}